<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <%- include('partials/header') %>

    <form id="loginForm" class="loginForm" action="/api/login" method="POST">
        <div class="boxForm">
            <h2>Login</h2>

            <input name="email" type="email" placeholder="Email">

            <input name="password" type="text" placeholder="Senha">

            <button type="submit">Entrar</button>

            <span class="responseMessage" id="responseMessage"></span>
        </div>
    </form>

    <%- include('partials/footer') %>

</body>
</html>