<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial - Login</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
   
    <%- include('partials/header') %>

    <form id="registerForm" class="registerForm" action="todolist.html">
        <div class="boxForm">
            <h2>Criar conta</h2>

            <input name="name" type="text" placeholder="Nome de usuário">

            <input name="email" type="email" placeholder="Email">

            <input name="password" type="text" placeholder="Senha">

            <button type="submit">Registrar</button>

            <span class="responseMessage" id="responseMessage"></span>
        </div>
    </form>

    <%- include('partials/footer') %>

    <script src="js/register.js"></script>
</body>

</html>